@charset "UTF-8";
body {
  box-sizing: border-box;
  background-color: #03243D;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
  background-color: rgba(3, 36, 61, 0.6);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .btn {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 8px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  transform: rotate(0deg);
  transition: transform 700ms ease;
}
.container .btn .btn-contain {
  position: relative;
  width: 230px;
  height: 230px;
  border: 2px solid black;
  clip-path: inset(20px 0 0 0);
  border-radius: 50%;
}
.container .btn .btn-cursor {
  position: absolute;
  top: 15px;
  left: calc(50% - 2.5px);
  z-index: 9999;
  width: 5px;
  height: 20px;
  border-radius: 5px;
  background-color: black;
  transition: background-color 300ms ease 0.6s;
}
.container .cursor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #051a2b;
  transform: scale(1);
  border-radius: 50%;
  transition: transform 500ms ease 0.3s;
}
.container .cursor .item {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.9s ease 0.4s;
  visibility: hidden;
}
.container .cursor .item svg {
  position: absolute;
  visibility: visible;
  top: 5px;
  left: calc(50% - 10px);
  width: 20px;
  height: 40px;
}
.container .cursor-2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #073253;
  transform: scale(0.8);
  border-radius: 50%;
  transition: transform 500ms ease;
}

/**
/* Les styles à appliquer quand le dial button est ouvert
/*
*/
.open .cursor {
  transform: scale(1.6);
}
.open .cursor-2 {
  transform: scale(1.05);
  transition: transform 300ms ease 0.3s;
}
.open .btn-cursor {
  background-color: #34C759 !important;
  transition: background-color 300ms ease 0.5s;
}
.open .item:nth-child(1) {
  transform: scale(1) rotate(0deg);
}
.open .item:nth-child(1) path {
  fill: #34C759 !important;
}
.open .item:nth-child(2) {
  transform: scale(1) rotate(60deg);
}
.open .item:nth-child(2) svg {
  transform: rotate(-60deg);
}
.open .item:nth-child(3) {
  transform: scale(1) rotate(120deg);
}
.open .item:nth-child(3) svg {
  transform: rotate(-120deg);
}
.open .item:nth-child(4) {
  transform: scale(1) rotate(180deg);
}
.open .item:nth-child(4) svg {
  transform: rotate(-180deg);
}
.open .item:nth-child(5) {
  transform: scale(1) rotate(240deg);
}
.open .item:nth-child(5) svg {
  transform: rotate(-240deg);
}
.open .item:nth-child(6) {
  transform: scale(1) rotate(300deg);
}
.open .item:nth-child(6) svg {
  transform: rotate(-300deg);
}
.open .btn-cursor-red {
  background-color: red !important;
  transition: background-color 500ms ease 0s !important;
}
.open .red path {
  fill: red;
}
.open .active path {
  fill: rgb(231, 226, 226);
}

.contact {
  position: absolute;
  top: 40px;
  right: 40px;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 13pt;
}
.contact a {
  color: rgb(185, 185, 185);
  padding-bottom: 3px;
  border-bottom: 1px solid rgb(185, 185, 185);
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
